@font-face{font-family:'Conv_CenturyStd-UltraCondensedIt';src:url('../fonts/CenturyStd-UltraCondensedIt.eot');src:local('☺'),url('../fonts/CenturyStd-UltraCondensedIt.ttf') format('truetype'),
url('../fonts/CenturyStd-UltraCondensedIt.svg') format('svg');
font-weight:400;
font-style:normal
}
body {
    background: #000;
    margin: 0;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    color: #fff;
    overflow-x: hidden
}
a,
a:visited {
    color: #fff;
    text-decoration: none
}
a:hover {
    color: #f26223
}
.century {
    font-family: 'Conv_CenturyStd-UltraCondensedIt', Sans-Serif
}
#wrapper_bgndVideo {
	position: relative !important;
}

.container.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
}

#sitbow-text {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -366.5px;
    margin-top: -199px;
    z-index: -1
}
#sitbow-photo {
    display: none
}
#youtube-video {
    display: none
}
.header {
    background-color: #000;
    padding-top: 15px;
    line-height: 1
}
.header a {
    color: #fff;
    text-decoration: none;
    font-size: .875em
}
.header a:hover {
    color: #f26223
}
.section {
    padding: 75px;
    position: relative;
    background-color: rgba(0, 0, 0, .9)
}
h3 { font-size: 12px; text-transform: uppercase; border-bottom: 1px solid white; width: 100%; margin: 0 0 3.5% 0; padding: 0 0 1% 0; }
.title-description {
    font-size: 1em;
    font-weight: 400
}
.title-description h1 {
    font-size: 3.75em;
    line-height: 1;
    margin-bottom: .5em
}
.title-description p {
    font-size: .875em;
    line-height: 1.75
}
.title-description h1,
.title-description p,
.title-description form {
    padding: 0 17.7798165%
}
form input[type="submit"] {
    background: 0;
    border: 0;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    padding: 0;
    margin: 0
}
form input[type="submit"]:hover {
    color: #f26223
}
.album p {
    text-align: center;
    font-size: .625em;
    font-weight: 700;
    margin: 1em 0 2.25em 0;
    line-height: 1.5
}
.album p.extra-link {
    text-align: center;
    font-size: .625em;
    font-weight: 700;
    margin: -2.25em 0 2.25em 0
}
.album p.extra-link a:hover {
    color: #f26223
}
.album p span {
    display: block;
    font-weight: 400
}
.album a {
    color: #fff;
    text-decoration: none
}
.album a:hover p {
    color: #f26223
}
.movie {
    display: none
}
.dida {
    position: fixed;
    bottom: 0;
    font: 12px/14px Arial, sans-serif;
    color: #fff;
    padding: 10px
}
button {
    display: block;
    background: transparent;
    border: 0;
    color: #fff;
    cursor: pointer
}
button.command {
    display: inline-block
}
button:hover,
button.sel {
    color: #fc0
}
#wrapper_bgndVideo {
    display: block
}
#footer {
    height: 75px;
    background-color: #000;
    font-size: .675em;
    padding-top: 10px;
}
#social-media .title-description {
    height: 500px;
}
@media only screen and (max-width: 1023px) {
    .container.header .row .twocol {
        display: none;
    }
	#bgndVideo {
		display: none;
	}
}
@media only screen and (max-width: 1023px) {
    body {
        background-color: #fff
    }
    .container.header .row .twocol {
        display: none
    }
    .container.header .row .twocol a {
        font-weight: 700
    }
    .title-description h1,
    .title-description p {
        padding: 0
    }
    .logo .row .twelvecol {
        padding-right: 0;
        padding-left: 0
    }
    #sitbow-text {
        display: none
    }
    #sitbow-photo {
        display: block;
        width: 100%
    }
    .container.header {
        text-align: center;
        background: transparent;
        padding-top: 0;
		display: none;
    }
    .container.header .row .sixcol {
        background: #000;
        border-bottom: 1px solid #ff5a00;
        padding: 0
    }
    .container.header .row .twocol {
        width: 33.3%;
        float: left;
        margin: 1em 0 0 0;
        padding: 0
    }
    #wrapper_bgndVideo {
        display: none
    }
    .container.section {
        padding: 1.5em 0;
        display: block;
        background-color: transparent;
        color: #232323;
        border-bottom: 1px dotted #ccc
    }
    #download-albums {
        
    }
    .century {
        font-family: Futura, "Trebuchet MS", Arial, sans-serif;
        font-weight: 700
    }
    .title-description h1 {
        font-size: 1em;
        line-height: 1;
        margin-bottom: .5em;
        text-transform: uppercase
    }
    .title-description p {
        font-size: .75em;
        line-height: 1.5;
        font-family: georgia, serif
    }
    .title-description h1,
    .title-description p {
        padding: 0
    }
    #watch-video img {
        margin: 2em 0 0 0
    }
    .header a,
    a,
    a:visited {
        color: #f26223
    }
    .title-description form {
        padding: 0
    }
    form input[type="submit"] {
        color: #f26223
    }
    .donate-image {
        display: none
    }
    .album {
        margin: 2em
    }
    .album img {
        float: left;
        clear: left
    }
    .album p {
        text-align: left;
        float: right;
        border-top: 1px dotted #ccc;
        width: 45%;
        margin: 0;
        height: 150px
    }
    .album:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden
    }
    .album a {
        color: #000
    }
    #footer {
        display: block
    }
    #social-media .title-description {
        height: auto;
    }
	h3 {
		margin-left: 55%; margin-top: 50px; width: 45%; float: right; text-align: left;
		border-bottom: none;
	}
	.extra-link { display: none; }
}
