@font-face {
	font-family: 'Conv_CenturyStd-UltraCondensedIt';
	src: url('../fonts/CenturyStd-UltraCondensedIt.eot');
	src: local('☺'), url('../fonts/CenturyStd-UltraCondensedIt.woff') format('woff'), url('../fonts/CenturyStd-UltraCondensedIt.ttf') format('truetype'), url('../fonts/CenturyStd-UltraCondensedIt.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}



body{
	background: #000;
	margin:0;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	color: #fff;
	overflow-x: hidden;
}

a, a:visited { color: #fff; text-decoration: none; }
a:hover { color: #f26223;}

.century {
	font-family:'Conv_CenturyStd-UltraCondensedIt',Sans-Serif;
}

#sitbow-text { position: fixed; top: 50%; left: 50%; margin-left: -366.5px; margin-top: -199px; z-index: -1; }
#sitbow-photo { display: none; }
#youtube-video { display: none; }

.header { background-color: black; padding-top: 15px; line-height: 1; }
.header a { color: #fff; text-decoration: none; font-size: .875em; }
.header a:hover { color: #f26223; }

.section { padding: 75px; display: none; background-color: rgba(0,0,0,.9); }

.title-description { font-size: 1em; font-weight: normal; }
.title-description h1 { font-size: 3.75em; line-height: 1; margin-bottom: .5em; }
.title-description p { font-size: .875em; line-height: 1.75; }
.title-description h1, .title-description p, .title-description form  { padding: 0 17.7798165%; }

form input[type="submit"]{
    background: none;
    border: none;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
}

form input[type="submit"]:hover {
    color: #f26223;
}

.album p { text-align: center; font-size: .625em; font-weight: bold; margin: 1em 0 2.25em 0; line-height: 1.5; }
.album p.extra-link { text-align: center; font-size: .625em; font-weight: bold; margin: -2.25em 0 2.25em 0; }
.album p.extra-link a:hover { color: #f26223; }
.album p span { display: block; font-weight: normal; }
.album a { color: #fff; text-decoration: none; }
.album a:hover p { color: #f26223; } 


.movie{
	display: none;
}

.dida{
	position:fixed;
	bottom:0;
	font: 12px/14px Arial, sans-serif;
	color:white;
	padding:10px;
}

button{
	display:block;
	background:transparent;
	border:none;
	color:white;
	font-size:18px;
	cursor:pointer;
}

button.command{
	display:inline-block;
}

button:hover, button.sel{
	color: #ffcc00;
}

#wrapper_bgndVideo { display: block; }

#footer { height: 75px; background-color: #000; font-size: .675em; padding-top: 10px; display: none; }


/* =============================================================================
   Media Queries
   ========================================================================== */





/*@media only screen and (max-width : 1024px) {
	
	body { background-color: #fff; }
	.container.header { padding: 0; }
	.container { padding-left: 0; padding-right: 0; }
	.container.header .row .twocol { display: none; }
	.container.header .row .sixcol { width: 100%; margin: 0; padding: 0; }
	.container.header .row .twocol a { font-weight: bold; }
	.title-description h1, .title-description p  { padding: 0; }
	.logo .row .twelvecol { padding-right: 0; padding-left: 0; }
	#sitbow-text { display: none; }
	#sitbow-photo { display: block; width: 100%; }
	.container.header { text-align: center; background: transparent; padding-top: 0; }
	.container.header .row .sixcol { background: #000; border-bottom: 1px solid orange; }
	.container.header .row .twocol { width: 33.3%; float: left; margin: 1em 0 0 0; padding: 0; }
	#wrapper_bgndVideo { display: none; }
	.container.section { padding: 1.5em 0; display: block; background-color: transparent; color: #232323; border-bottom: 1px dotted #ccc; }
	#download-albums { display: none; }
	.century { font-family: Futura, "Trebuchet MS", Arial, sans-serif; font-weight: bold; }
	
	.title-description h1 { font-size: 1em; line-height: 1; margin-bottom: .5em; text-transform: uppercase; }
	.title-description p { font-size: .75em; line-height: 1.5; font-family: georgia, serif; }
	.title-description h1, .title-description p  { padding: 0; }
	
	#watch-video { width: 68%; float: left; padding-left: 2%; }
	#watch-video img { margin: 2em 0 0 0; }
	
	#make-a-donation, #social-media { width: 30%; float: right; }
	#make-a-donation .row, #social-media .row { min-width: 0; }
	
	.row { min-width: 0; }
	.row .sixcol { width: 100%; min-width: 0; }
	.header a, a, a:visited { color: #f26223; }
	
	.album { margin: 2em; }
	.album img { float: left; clear: left; }
	.album p { text-align: left; float: right; border-top: 1px dotted #ccc; width: 45%; margin: 0; height: 150px; }
	.album:after { content: ".";
	    display: block;
	    height: 0;
	    clear: both;
	    visibility: hidden; }
	.album a { color: #000; }
}*/

@media only screen and (max-width : 764px) {
 .container.header .row .twocol { display: none; }
}

/* iPad [portrait + landscape]
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	body { background-color: #fff; }
	.container.header .row .twocol { display: none; }
	.container.header .row .twocol a { font-weight: bold; }
	.title-description h1, .title-description p  { padding: 0; }
	.logo .row .twelvecol { padding-right: 0; padding-left: 0; }
	#sitbow-text { display: none; }
	#sitbow-photo { display: block; }
	.container.header { text-align: center; background: transparent; padding-top: 0; }
	.container.header .row .sixcol { background: #000; border-bottom: 1px solid orange; padding: 0; }
	.container.header .row .twocol { width: 33.3%; float: left; margin: 1em 0 0 0; padding: 0; }
	#wrapper_bgndVideo { display: none; }
	.container.section { padding: 1.5em 0; display: block; background-color: transparent; color: #232323; border-bottom: 1px dotted #ccc; }
	#download-albums { display: none; }
	.century { font-family: Futura, "Trebuchet MS", Arial, sans-serif; font-weight: bold; }

	.title-description h1 { font-size: 1em; line-height: 1; margin-bottom: .5em; text-transform: uppercase; }
	.title-description p { font-size: .75em; line-height: 1.5; font-family: georgia, serif; }
	.title-description h1, .title-description p  { padding: 0; }

	#watch-video img { margin: 2em 0 0 0; }
	.header a, a, a:visited { color: #f26223; }

	.album { margin: 2em; }
	.album img { float: left; clear: left; }
	.album p { text-align: left; float: right; border-top: 1px dotted #ccc; width: 45%; margin: 0; height: 150px; }
	.album:after { content: ".";
	    display: block;
	    height: 0;
	    clear: both;
	    visibility: hidden; }
	.album a { color: #000; }
	#footer { display: block; }
}*/

/* iPhone & Android [portrait + landscape] */
@media only screen and (max-device-width: 1024px) {

body { background-color: #fff; }
.container.header .row .twocol { display: none; }
.container.header .row .twocol a { font-weight: bold; }
.title-description h1, .title-description p  { padding: 0; }
.logo .row .twelvecol { padding-right: 0; padding-left: 0; }
#sitbow-text { display: none; }
#sitbow-photo { display: block; width: 100%; }
.container.header { text-align: center; background: transparent; padding-top: 0; }
.container.header .row .sixcol { background: #000; border-bottom: 1px solid #ff5a00; padding: 0; }
.container.header .row .twocol { width: 33.3%; float: left; margin: 1em 0 0 0; padding: 0; }
#wrapper_bgndVideo { display: none; }
.container.section { padding: 1.5em 0; display: block; background-color: transparent; color: #232323; border-bottom: 1px dotted #ccc; }
#download-albums { display: none; }
.century { font-family: Futura, "Trebuchet MS", Arial, sans-serif; font-weight: bold; }

.title-description h1 { font-size: 1em; line-height: 1; margin-bottom: .5em; text-transform: uppercase; }
.title-description p { font-size: .75em; line-height: 1.5; font-family: georgia, serif; }
.title-description h1, .title-description p  { padding: 0; }

#watch-video img { margin: 2em 0 0 0; }
.header a, a, a:visited { color: #f26223; }

.title-description form { padding: 0; }
form input[type="submit"] { 
    color: #f26223;
}
.donate-image { display: none; }

.album { margin: 2em; }
.album img { float: left; clear: left; }
.album p { text-align: left; float: right; border-top: 1px dotted #ccc; width: 45%; margin: 0; height: 150px; }
.album:after { content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
.album a { color: #000; }
#footer { display: block; }
}
